html {
    font-size: 1em;
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: #88c;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0px;
}

.header-title {
    width: 30%;
}

.header-nav {
    width: 70%;
}

.menu-item {
    font-size: 1.5em;
}

.header-menu {
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    padding: 100px 250px;
}

.section {
    min-height: 500px;
    border: #000 1px solid;
    text-align: center;
}

/* Secciones */

.galery-container {
    display: grid;
    min-height: 300px;
    margin: 60px 60px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.galery-photo {
    height: 150px;
}

.photo1 {
    background-image: url("../img/ejemploescultura.jpg");
    background-size: cover;
}

.photo2 {
    background-image: url("../img/ejemplopintura.jpg");
    background-size: cover;
}

.photo3 {
    background-image: url("../img/ejemplomusica.jpg");
    background-size: cover;
}

.about-title {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #88c;
    color: #fff;
}

.about-text {
    font-size: 1.2em;
    margin: 30px 60px;
    text-align: justify;
}

.services-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.services-tarjet {
    border: #000 1px solid;
    text-align: center;
    border-radius: 10px;
}

.tarjet-image {
    height: 150px;
    border: #000 1px solid;
}

.paint-image {
    background-image: url("../img/pintura.jpg");
    background-size: cover;
}

.art-image {
    background-image: url("../img/artesania.jpg");
    background-size: cover;
}

.music-image {
    background-image: url("../img/musica.jpg");
    background-size: cover;
}

.tarjet-text {
    text-align: justify;
    padding: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 60px;
}

#submit {
    background-color: #88c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    height: 30px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover */

.menu-item:hover .menu-link:hover {
    background-color: #fff;
    color: #88c;
    transition: 0.5s;
}

.galery-photo:hover {
    background-color: gradient(#88c, #bbe);
    transition: 0.5s;
}

.services-tarjet:hover {
    background-color: #88c;
    color: #fff;
    transition: 0.5s;
}

#submit:hover {
    background-color: #bbe;
    transition: 0.5s;
    cursor: pointer;
}